.*{
  padding:0;
  margin:0;
}
body{
    
.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings;
    "wdth" 100;
  
    
}
/*background: linear-gradient(135deg, #42275a 0%, #734b6d 100%);*/
/*background: linear-gradient(135deg, #fc466b 0%, #3f5efb 100%);*/
/*background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);*/
/*background: linear-gradient(135deg, #f9d423 0%, #ff4e50 100%);*/
background: linear-gradient(135deg, #c31432 0%, #240b36 100%);
/*background: linear-gradient(135deg, #b24592 0%, #f15f79 100%);*/
/*background: linear-gradient(135deg, #8e2de2 0%, #ff6ec4 100%);*/
}

/*.titlebar{
  
  color:white;
  text-align: center;
  padding:10px; 
}*/
.titlebar {
  text-align: center;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(90deg, #230203, #d4dade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 10px;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.356);
}




.container div{
  width: 200px;
  color:rgb(205, 179, 179);
  font-style: italic;
  font-size: 0.9rem;
  font-weight: bold;
  text-align: center;
  margin: 10px;
  padding: 20px;
  flex-basis:20%;
  flex-grow:1;
  border-radius: 12px;
  box-shadow: 0 8px 12px rgba(0,0,0,0.5);
  transition:transform 0.3s ease,

}
.container div:hover{
  transform:scale(1.05);
  
 
  border:2px solid #f7e1e369;

}  
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.container img{
  border: 3 px solid white;
  border-radius: 10px;
  transition:transform 0.3s ease;
}
.container img:hover{
  transform: scale(1.05);
}
.container h3, .container p {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeUp 1s ease forwards;
}

.container h3 {
  animation-delay: 0.5s;
}

.container p {
  animation-delay: 1s;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container h3:hover, .container p:hover {
  color: #ffccff;
  text-shadow: 0 0 5px #ffccff, 0 0 10px #ff99ff;
  transition: 0.3s ease;
}

